body{
    background-color: lightgray;
    color: blue; /*text color*/
    font-family:'Times New Roman', Times, serif;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
h5{
    text-align: center;
    font-style: italic;
}
a{
    color: green;
}
a:visited{
    color: purple;
}
img{
    border: 2px solid fuchsia;
    padding: 3px;
    margin: 5px;
    display: block;
    margin: auto;
}

.rizz{
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: red;
        background-color: blue;
        font-size: larger;
        font-style: bold;
        border: dashed yellow 5px;
}
li{
    text-decoration: overline;
}
